{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'about' %}">Acerca de mí</a></li>
                <!-- Corregir el enlace de "Publicaciones" para que apunte a 'publicaciones' -->
                <li><a href="{% url 'pages' %}">Publicaciones</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Perfil</a></li>

                    <!-- Formulario para cerrar sesión -->
                    <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Cerrar sesión</button>
                    </form>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                    <li><a href="{% url 'signup' %}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Mi Blog</p>
    </footer>
</body>
</html>
